.navBar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 0px 55px;
}

.nav-line {
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  z-index: 10;
}

.padding-logo {
  padding: 24px 0px;
}
