.home-title {
    text-transform: uppercase;
    font-family: 'Bellefair';
    color: #FFF;
    font-size: 150px;
    letter-spacing: .2cm;
    margin: 0;
    margin-left: -10px;
    top: calc(50% - 128px/2 + 127px);
}