.main-wrapper {
  background-image: url("../../../assets/home/background-home-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

.max-width-wrapper {
  max-width: 1440px;
  margin: auto;
}